spring:
  application:
    name: config-default
# this name is a second preference bcz first one is define inside the service application.yml or properties file so defining name in both places does not occure any inconsistency in side the code 
eureka:
 instance:
   prefer-ip-address: true
 client:
   fetch-registry: true
   register-with-eureka: true
   service-url:
     defaultZone: http://localhost:8761/eureka
